In [1]:
from datetime import datetime
from datetime import timedelta

from pymongo import MongoClient
from pandas import DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import tushare as ts
from WindPy import w
w.start();


import fdm

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [ ]:
pro = ts.pro_api()

In [2]:
client = MongoClient("192.168.56.1",27017)

In [8]:
pricedb = fdm.CleanData(client).price()
df = pricedb.interface.query(startdate=datetime(
    2017, 12, 1), enddate=datetime(2017, 12, 31))

df

,code,date,open,high,low,close,vwap,adj_factor
0,002909.SZ,2017-12-01,20.90000,21.20000,20.60000,20.92000,20.931431,1.000
1,002051.SZ,2017-12-01,96.41056,96.86272,96.10912,96.31008,96.445706,5.024
2,600847.SH,2017-12-01,29.82924,30.36922,29.82924,30.23888,30.092859,1.862
3,600677.SH,2017-12-01,75.77784,76.21695,73.33137,74.83689,74.551790,6.273
4,600499.SH,2017-12-01,328.41032,329.57904,322.56672,324.02762,325.374449,29.218
5,002228.SZ,2017-12-01,40.47996,40.94206,39.92544,40.66480,40.475072,9.242
6,002084.SZ,2017-12-01,17.52990,17.99901,17.48052,17.80149,17.850974,2.469
7,603289.SH,2017-12-01,20.45000,21.00000,20.17000,20.38000,20.543035,1.000
8,600560.SH,2017-12-01,48.65211,49.28337,48.38157,49.14810,48.849757,4.509
9,002777.SZ,2017-12-01,70.46109,72.58524,70.42063,71.18937,71.406003,2.023
10,300212.SZ,2017-12-01,120.72640,123.30644,120.28828,122.38152,122.089212,4.868
11,600766.SH,2017-12-01,38.06725,38.44750,37.77150,38.27850,38.105136,4.225
12,600969.SH,2017-12-01,18.33528,18.45096,18.32082,18.43650,18.410245,1.446
13,002728.SZ,2017-12-01,38.72640,39.06929,38.44402,39.02895,38.770406,2.017
14,600067.SH,2017-12-01,133.94690,135.00160,133.10314,134.57972,134.231136,21.094
15,600689.SH,2017-12-01,31.76250,32.21988,31.66086,32.04201,31.964815,2.541
16,300406.SZ,2017-12-01,66.76899,68.78730,66.56304,67.88112,67.894802,4.119
17,300451.SZ,2017-12-01,72.42642,74.71706,72.42642,73.93342,73.865382,3.014
18,002522.SZ,2017-12-01,91.22184,92.12098,90.56792,91.38532,91.387669,8.174
19,603026.SH,2017-12-01,25.71264,25.95840,25.49760,25.74336,25.726983,1.024
20,300314.SZ,2017-12-01,50.82944,53.52606,50.42310,51.97458,52.255371,3.694
21,002119.SZ,2017-12-01,44.25260,46.31704,43.55764,45.56076,45.389150,2.044
22,603896.SH,2017-12-01,52.16000,53.37000,51.24000,52.98000,52.624587,1.000
23,300083.SZ,2017-12-01,64.60550,65.67540,64.27630,64.68780,64.911315,8.230
24,601567.SH,2017-12-01,44.99276,45.08212,44.63532,44.85872,44.815241,4.468
25,600369.SH,2017-12-01,23.54120,23.77020,23.44960,23.63280,23.628684,4.580
26,603866.SH,2017-12-01,38.75124,41.93277,38.63871,41.53380,40.613358,1.023
27,300399.SZ,2017-12-01,40.95750,43.05300,40.38600,40.86225,41.534553,1.905
28,603617.SH,2017-12-01,22.71000,22.98000,22.48000,22.91000,22.785869,1.000
29,600333.SH,2017-12-01,17.15406,17.23227,16.94550,17.18013,17.087572,2.607
...,...,...,...,...,...,...,...,...
67954,601009.SH,2017-12-29,36.06066,36.10725,35.96748,36.06066,36.030869,4.659
67955,601019.SH,2017-12-29,12.81000,12.95000,12.69000,12.87000,12.817056,1.000
67956,002561.SZ,2017-12-29,14.21244,14.32233,14.21244,14.31012,14.289224,1.221
67957,002562.SZ,2017-12-29,65.46384,66.43728,65.13936,66.35616,65.792619,4.056
67958,601018.SH,2017-12-29,6.07316,6.17747,6.04998,6.15429,6.126905,1.159
67959,601098.SH,2017-12-29,15.10458,15.43728,15.10458,15.40401,15.350197,1.109
67960,002563.SZ,2017-12-29,38.56016,38.60824,37.55048,37.79088,37.985846,4.808
67961,002564.SZ,2017-12-29,25.92755,26.64145,25.92755,26.60900,26.430559,3.245
67962,601088.SH,2017-12-29,35.57250,35.95500,35.29710,35.45010,35.501802,1.530
67963,002565.SZ,2017-12-29,34.91800,35.13288,34.38080,35.07916,34.687467,5.372
67964,601086.SH,2017-12-29,8.46000,8.51000,8.06000,8.18000,8.266184,1.000
67965,000088.SZ,2017-12-29,55.11996,55.92197,54.90123,55.92197,55.437059,7.291
67966,601058.SH,2017-12-29,17.26302,17.35866,17.11956,17.26302,17.233544,4.782
67967,002566.SZ,2017-12-29,26.39588,26.57834,26.30465,26.57834,26.466067,3.041
67968,002567.SZ,2017-12-29,36.81291,37.93140,36.71565,37.63962,37.467840,4.863
67969,601038.SH,2017-12-29,8.85414,8.94756,8.58426,8.67768,8.768694,1.038
67970,601069.SH,2017-12-29,16.42170,16.42170,15.78855,15.94935,16.055819,1.005
67971,601028.SH,2017-12-29,21.56364,21.73080,21.53976,21.63528,21.608567,2.388
67972,002573.SZ,2017-12-29,167.59680,170.21550,167.07306,170.06586,168.564975,7.482
67973,002568.SZ,2017-12-29,56.61480,57.21526,56.10012,56.91503,56.511211,4.289
67974,002574.SZ,2017-12-29,17.00784,17.12214,16.98498,17.05356,17.026667,2.286
67975,002603.SZ,2017-12-29,41.32300,41.72290,40.92310,41.48296,41.291223,2.666
67976,002572.SZ,2017-12-29,631.85150,638.42968,625.79265,637.04480,631.314101,17.311
67977,601021.SH,2017-12-29,74.79378,76.08786,74.53092,75.35994,75.382128,2.022
67978,601020.SH,2017-12-29,20.75583,21.10968,20.57385,20.74572,20.755831,1.011
67979,002577.SZ,2017-12-29,36.08220,39.31554,36.08220,39.31554,38.418200,2.343
67980,002570.SZ,2017-12-29,18.05300,18.82670,18.00142,18.56880,18.495861,2.579
67981,002560.SZ,2017-12-29,29.19662,30.39084,29.19662,30.34966,29.886406,4.118
67982,601099.SH,2017-12-29,10.34124,10.39806,10.28442,10.28442,10.331957,2.841
67983,002571.SZ,2017-12-29,32.98040,33.34238,31.57270,32.17600,32.320567,4.022

,code,date,open,high,low,close,vwap,adj_factor
0,000001.SZ,2017-12-01,1424.54060,1433.04532,1377.76464,1382.01700,1402.199528,106.309
1,000001.SZ,2017-12-04,1387.33245,1421.35133,1382.01700,1413.90970,1406.206826,106.309
2,000001.SZ,2017-12-05,1397.96335,1434.10841,1392.64790,1413.90970,1419.689623,106.309
3,000001.SZ,2017-12-06,1409.65734,1410.72043,1359.69211,1390.52172,1380.947304,106.309
4,000001.SZ,2017-12-07,1387.33245,1396.90026,1355.43975,1363.94447,1373.389791,106.309
5,000001.SZ,2017-12-08,1370.32301,1391.58481,1355.43975,1391.58481,1377.858117,106.309
6,000001.SZ,2017-12-11,1390.52172,1442.61313,1369.25992,1435.17150,1400.909107,106.309
7,000001.SZ,2017-12-12,1424.54060,1433.04532,1384.14318,1384.14318,1403.924712,106.309
8,000001.SZ,2017-12-13,1382.01700,1403.27880,1369.25992,1395.83717,1384.490325,106.309
9,000001.SZ,2017-12-14,1397.96335,1414.97279,1372.44919,1382.01700,1391.071896,106.309
10,000001.SZ,2017-12-15,1371.38610,1374.57537,1346.93503,1352.25048,1358.274038,106.309
11,000001.SZ,2017-12-18,1353.31357,1372.44919,1343.74576,1355.43975,1358.680621,106.309
12,000001.SZ,2017-12-19,1359.69211,1416.03588,1354.37666,1411.78352,1391.487384,106.309
13,000001.SZ,2017-12-20,1403.27880,1414.97279,1395.83717,1409.65734,1406.698600,106.309
14,000001.SZ,2017-12-21,1401.15262,1454.30712,1399.02644,1439.42386,1435.595990,106.309
15,000001.SZ,2017-12-22,1435.17150,1448.99167,1429.85605,1437.29768,1437.474671,106.309
16,000001.SZ,2017-12-25,1437.29768,1473.44274,1399.02644,1408.59425,1438.205395,106.309
17,000001.SZ,2017-12-26,1409.65734,1455.37021,1402.21571,1452.18094,1429.350184,106.309
18,000001.SZ,2017-12-27,1443.67622,1464.93802,1402.21571,1412.84661,1437.738599,106.309
19,000001.SZ,2017-12-28,1411.78352,1430.91914,1384.14318,1404.34189,1405.294263,106.309
20,000001.SZ,2017-12-29,1404.34189,1427.72987,1392.64790,1413.90970,1409.523277,106.309
21,000002.SZ,2017-12-01,4187.65000,4397.71900,4187.65000,4219.22900,4268.715906,137.300
22,000002.SZ,2017-12-04,4201.38000,4297.49000,4105.27000,4235.70500,4192.727037,137.300
23,000002.SZ,2017-12-05,4201.38000,4322.20400,4146.46000,4260.41900,4251.201916,137.300
24,000002.SZ,2017-12-06,4219.22900,4283.76000,4154.69800,4224.72100,4218.099655,137.300
25,000002.SZ,2017-12-07,4197.26100,4379.87000,4105.27000,4112.13500,4207.014676,137.300
26,000002.SZ,2017-12-08,4033.87400,4102.52400,3988.56500,4094.28600,4041.634827,137.300
27,000002.SZ,2017-12-11,4094.28600,4112.13500,4022.89000,4109.38900,4065.993171,137.300
28,000002.SZ,2017-12-12,4081.92900,4168.42800,4051.72300,4059.96100,4114.730825,137.300
29,000002.SZ,2017-12-13,4059.96100,4132.73000,4029.75500,4110.76200,4091.502050,137.300
...,...,...,...,...,...,...,...,...
69816,603998.SH,2017-12-19,44.16196,44.27983,43.84764,44.08338,44.115055,3.929
69817,603998.SH,2017-12-20,44.08338,44.35841,44.00480,44.24054,44.186121,3.929
69818,603998.SH,2017-12-21,44.27983,44.27983,43.61190,43.96551,43.936218,3.929
69819,603998.SH,2017-12-22,44.20125,44.63344,43.80835,44.16196,44.198137,3.929
69820,603998.SH,2017-12-25,44.35841,44.35841,43.57261,43.76906,43.736372,3.929
69821,603998.SH,2017-12-26,43.76906,44.16196,43.69048,44.08338,43.988592,3.929
69822,603998.SH,2017-12-27,43.92622,44.35841,43.84764,44.08338,44.105192,3.929
69823,603998.SH,2017-12-28,44.20125,44.47628,43.76906,44.35841,44.131074,3.929
69824,603998.SH,2017-12-29,44.39770,44.63344,43.41545,43.96551,43.908676,3.929
69825,603999.SH,2017-12-01,19.23105,19.40038,19.03753,19.35200,19.303604,2.419
69826,603999.SH,2017-12-04,19.35200,19.37619,18.74725,18.77144,19.049575,2.419
69827,603999.SH,2017-12-05,18.77144,18.98915,17.65870,17.90060,18.275814,2.419
69828,603999.SH,2017-12-06,18.02155,18.48116,17.80384,18.43278,18.169994,2.419
69829,603999.SH,2017-12-07,18.36021,18.57792,18.26345,18.45697,18.460748,2.419
69830,603999.SH,2017-12-08,18.38440,18.77144,18.38440,18.52954,18.612637,2.419
69831,603999.SH,2017-12-11,18.52954,19.54552,18.38440,19.01334,19.134877,2.419
69832,603999.SH,2017-12-12,18.96496,18.96496,18.57792,18.57792,18.766503,2.419
69833,603999.SH,2017-12-13,18.55373,18.81982,18.52954,18.74725,18.708962,2.419
69834,603999.SH,2017-12-14,18.74725,18.77144,18.36021,18.40859,18.477252,2.419
69835,603999.SH,2017-12-15,18.45697,18.52954,18.26345,18.40859,18.396114,2.419
69836,603999.SH,2017-12-18,18.40859,18.60211,18.09412,18.14250,18.254547,2.419
69837,603999.SH,2017-12-19,18.14250,18.38440,18.06993,18.28764,18.261948,2.419
69838,603999.SH,2017-12-20,18.19088,18.33602,17.94898,17.97317,18.095091,2.419
69839,603999.SH,2017-12-21,18.06993,18.06993,17.75546,17.87641,17.923094,2.419
69840,603999.SH,2017-12-22,17.85222,18.06993,17.80384,17.90060,17.946822,2.419
69841,603999.SH,2017-12-25,17.97317,17.97317,17.56194,17.61032,17.765327,2.419
69842,603999.SH,2017-12-26,17.63451,18.02155,17.61032,17.99736,17.863177,2.419
69843,603999.SH,2017-12-27,17.92479,19.78742,17.87641,18.67468,18.991318,2.419
69844,603999.SH,2017-12-28,18.28764,18.79563,18.16669,18.67468,18.513452,2.419
69845,603999.SH,2017-12-29,18.57792,18.69887,18.38440,18.60211,18.509231,2.419

In [ ]:
tushare = fdm.Tushare(client)
db = tushare.daily_basic()

In [ ]:
tushare.db.client

In [ ]:
MSCI_CN = {'CNY': '302400L.MI',
           'USD': '302400.MI'}
data = w.wsd("302400L.MI", "close", "1999-12-20", "2019-08-26", "",usedf=True)[1]
data.sort_index(inplace = True)
data.to_json('msci_china.bz2')

In [ ]:
data = w.wsd("000300.SH", "close", "1999-12-20", "2019-08-26", "",usedf=True)[1]
data.sort_index(inplace = True)
data.to_json('hs300.bz2')

In [ ]:
index = pd.read_json('msci_china.bz2').sort_index().dropna()
index_ror = index.pct_change()

In [ ]:
index = pd.read_json('hs300.bz2').sort_index().dropna()
index_ror = index.pct_change()

In [ ]:
clean = fdm.CleanData(client)
cdb = clean.pricing()

tdb = fdm.TempDB(client)
actp = tdb['actPrice']

# Build active price vs CSI300
def actprice(code):
    start_date = datetime(2002,1,4)
    close = cdb.query({'code':code,'date':{'$gt':start_date}},['code','date','close'])
    if not close.empty:
        close.set_index(['date'],inplace = True)
        close = close.sort_index().copy()
        close['close'] = close['close'].pct_change()-index_ror['CLOSE']
        close.iat[0,1] = 0
        close['act_price'] = np.cumprod(close['close']+1)
        close.rename(columns={'close':'act_ror'},inplace=True)
        close.reset_index(inplace=True)
        return close
    else:
        return DataFrame

actp.drop()
codes = cdb.stock_codes()
for code in codes:
    df = actprice(code)
    actp.insert_many(df)

In [ ]:
actp.create_indexs(['date','code'])

In [ ]:
tdb = fdm.TempDB(client)
actp = tdb['actPrice']
mratio = tdb['mmRatio']

def maxmin_ratio(ts):
    maxv = np.max(ts)
    minv = np.min(ts)
    pt = ts[-1]
    return (minv-pt)/(minv-maxv)

#codes = actp.distinct('code')
mratio.drop()
for code in codes:
    data = actp.query({'code':code})
    data.set_index('date',inplace=True)
    data.sort_index(inplace=True)

    periods = [3,6,9,12,24,36]
    for n in periods:
        data['mm_ratio_'+str(n)] = data['act_price'].sort_index(ascending = False).rolling(20*n).apply(maxmin_ratio, raw=True)
    
    data.reset_index(inplace=True)
    mratio.insert_many(data)

In [ ]:
mratio.create_indexs(['date','code'])

In [ ]:
data = actp.query({'code':'000001.SZ'})
data.set_index('date',inplace=True)
data.sort_index(inplace=True)

In [ ]:
['CSI','SSE','SZSE','SW']
indexes = pro.index_basic(market='SW')
indexes.head()

# Factor base

In [ ]:
# Size factor

from fdm import Tushare
from fdm import CleanData

# Var
# client = self.get_client()
client = client
startdate = datetime(2019,1,1)
enddate = datetime(2019,2,1)
category = 'mv'
q=0.5

catcode = {'mv': 'total_mv', 'fmv': 'circ_mv'}

# Init database
tdb = Tushare(client).daily_basic()
cdb = CleanData(client).pricing()

# Get category score
catdata = tdb.query({'trade_date': {'$gt': startdate, '$lte': enddate}},
                    projection=['ts_code', 'trade_date', catcode[category]])
catdata = catdata.pivot(
    index='trade_date', columns='ts_code', values=catcode[category])
catdata.sort_index(inplace=True)

# Split stock codes by category score
def split_list_by_quantile(ts):
    low = ts[ts.quantile(q)>ts].index
    high = ts[ts.quantile(1-q)<=ts].index
    return pd.Series({'low':list(low),'high':list(high)})
split_list = catdata.apply(split_list_by_quantile,axis = 1)

# Get return data

In [ ]:
stocklist = split_list.at['2019-01-02','high']
cdb.query({'code':{'$in':stocklist},'date':datetime(2019,1,2)})#{'$gt': startdate, '$lte': enddate}

In [ ]:
DataFrame(cdb.col.col.find({'code':{'$in':stocklist},'date':{'$lte':datetime(2019,1,2)}}).sort([('date',-1)]).limit(2))

In [ ]:
df = cdb.query({'code':'000001.SZ'})
df = df.set_index('date')
df = df.sort_index()

In [ ]:

df['close']['2010-06-01':'2010-09-01'].plot(figsize=(20,5))

In [ ]:
df['close']['2010-06-01':'2010-09-01'].pct_change()

In [ ]:
datasource = fdm.CleanData(client).pricing()
tdb = fdm.TempDB(client)['tdb']
df = datasource.query({'date':{'$gte':datetime(2018,1,1)}})
tdb.insert_many(df)

In [17]:
df = DataFrame(np.arange(25))
df.columns = ['t']

df[(df['t']<10) & (df['t']>2)]

   t
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [136]:
df = pd.read_excel('test.xlsx').set_index('date')
df.reindex(pd.date_range(datetime(2017, 1, 1), datetime(2019, 6, 1),freq='M'))

            000001.SZ  000002.SZ
2017-01-31        NaN        NaN
2017-02-28  000001.SZ  000002.SZ
2017-03-31  000001.SZ  000002.SZ
2017-04-30        NaN        NaN
2017-05-31  000001.SZ  000002.SZ
2017-06-30  000001.SZ  000002.SZ
2017-07-31  000001.SZ  000002.SZ
2017-08-31  000001.SZ  000002.SZ
2017-09-30        NaN        NaN
2017-10-31  000001.SZ  000002.SZ
2017-11-30  000001.SZ  000002.SZ
2017-12-31        NaN        NaN
2018-01-31  000001.SZ  000002.SZ
2018-02-28  000001.SZ  000002.SZ
2018-03-31        NaN        NaN
2018-04-30        NaN        NaN
2018-05-31  000001.SZ  000002.SZ
2018-06-30        NaN        NaN
2018-07-31  000001.SZ  000002.SZ
2018-08-31  000001.SZ  000002.SZ
2018-09-30        NaN        NaN
2018-10-31  000001.SZ  000002.SZ
2018-11-30  000001.SZ  000002.SZ
2018-12-31        NaN        NaN
2019-01-31  000001.SZ  000002.SZ
2019-02-28  000001.SZ  000002.SZ
2019-03-31        NaN        NaN
2019-04-30  000001.SZ  000002.SZ
2019-05-31  000001.SZ  000002.SZ