In [2]:
from datetime import datetime

from fdm.utils.client import client
from fdm.utils.test import test_feeder_func, test_config, test_feeder_func_Q

from fdm.datasources.metaclass.interface import DynColInterface

client.drop_database('test')
time = datetime.now()
interface = DynColInterface(
    client['test']['test'], test_feeder_func_Q, test_config['Test']['DBSetting'])

interface.query('abc', fields=['cdb'], startdate=datetime(
    2019, 1, 1), enddate=datetime(2019, 4, 1))

interface.query('abc', fields=['cdb'], startdate=datetime(
    2019, 6, 1), enddate=datetime(2019, 10, 1))

interface.query('abc', fields=['cdb'], startdate=datetime(
    2019, 1, 1), enddate=datetime(2020, 2, 1))

interface.remove(['abc'], fields=['cdb'], startdate=datetime(
    2019, 2, 1), enddate=datetime(2019, 4, 1))

interface.query('abc', fields=['cdb'], startdate=datetime(
    2019, 1, 1), enddate=datetime(2020, 12, 1))

print(interface.query('abc', fields=['cdb'], startdate=datetime(
    2019, 1, 1), enddate=datetime(2020, 12, 1)))


print(datetime.now()-time)
client.close()

  code       date             cdb
0  abc 2019-03-31  abccdb20190331
1  abc 2019-06-30  abccdb20190630
2  abc 2019-09-30  abccdb20190930
3  abc 2019-12-31  abccdb20191231
4  abc 2020-06-30  abccdb20200630
5  abc 2020-03-31  abccdb20200331
6  abc 2020-09-30  abccdb20200930
0:00:00.508500

In [1]:
import fdm
from datetime import datetime

In [7]:
edb = fdm.Wind().edb()

In [10]:
edb.query('M5567876', startdate = datetime(2019,1,1), enddate=datetime(2019,12,31))

       code       date     value
0  M5567876 2019-03-31  213432.8
1  M5567876 2019-06-30  237500.3
2  M5567876 2019-09-30  246865.1

In [1]:
import fdm
from datetime import datetime

wsd = fdm.Wind().wsd()

C:\Users\langford\AppData\Local\Continuum\miniconda3\envs\quant\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
wsd.query('000002.SZ', 'close', datetime(2019,1,1), datetime.now())

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

          code       date  close
0    000002.SZ 2019-01-02  23.90
1    000002.SZ 2019-01-03  24.07
2    000002.SZ 2019-01-04  24.93
3    000002.SZ 2019-02-13  27.77
4    000002.SZ 2019-01-08  25.00
..         ...        ...    ...
200  000002.SZ 2019-03-05  29.94
201  000002.SZ 2019-03-01  28.54
202  000002.SZ 2019-03-04  29.70
203  000002.SZ 2019-03-06  29.48
204  000002.SZ 2019-03-07  28.57

[205 rows x 3 columns]